.search {
  background: #fff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eaedef;
}

.input {
  background: #f0f2f5;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &:focus-within {
    outline: 2px solid #6cc8a7;
  }

  label {
    display: flex;
    align-items: center;
  }

  input {
    border: none;
    background: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
